<h1>Job Posting Details</h1>

<p>Job Title: @Model.Title </p>
<p>Job Desctiption: @Model.Description</p>
<p>Job Info: @Model.Info</p>
<p><a href="/jobboard">Click here</a> to go back to job listings</p>